body {
    background-image: url(../Images/villa.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
}

#panel{
    background-color: lightgray;
    height:75%;
    width:100%;
    border-style:solid;
    border-color:black;
    position:relative;
    padding-right:5%;
    padding-left:5%;
    padding-top:2%;
    padding-bottom:3%;
    background-image:url(../Images/chambre.jpg);
    background-size:100%;
    margin-top:3%;
    min-height:600px;
}

#footer{

    border-style:solid;
    background-color:lightgray;
    position:relative;
    width:100%;
    margin-top:0.5%;
    padding-top:0.5%;

}

#verif{
    background-color:black;
    height:40%;
    width:35%;
    min-width:300px;
    padding-top:1%;
    padding-left:1%;
    padding-bottom:1%;
    border-style:solid;
    float:right;
}

.imagechambre{
    width:15%;
    height:15%;
    border-style:solid;
}

.btninfo{
    margin-left:2%;

}

#divgrid{
    border-style:dashed;
    width:300px;
    height:300px;
}

.datagrid{
    border-style:dotted;
    height:200px;
    width:200px;
}

.p {
    color:white;
}

  .Initial
  {
    display: block;
    padding: 4px 18px 4px 18px;
    float: left;
    background: url("../Images/InitialImage.png") no-repeat right top;
    color: Black;
    font-weight: bold;
  }
  .Initial:hover
  {
    color: White;
    background: url("../Images/SelectedButton.png") no-repeat right top;
  }
  .Clicked
  {
    float: left;
    display: block;
    background: url("../Images/SelectedButton.png") no-repeat right top;
    padding: 4px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    color: White;
  }