#main {
    position:relative;
}

#Back { 
    background-image: url(../Images/villa.jpg);

    opacity:0.5;
    height:100%;
    width:100%;
 
}

#fore
{
    /*top:0;
    left:0;*/
    position:absolute;
      height:100%;
   width:100%;
   
}

ul li {
color: white;
}