/*CSS de l'accueil*/
.communique {
    position:absolute;
    top:25%;
    right:0;
    width:45%;
}

.fiche{
    width:55%;
}

.horaire{
    position:absolute;
    top:15%;
    width:21%;
    right:30%;
    font-size:large;
}

.oublie{
    position:absolute;
    border:dashed;
    border-color:black;
}

fieldset{
    font-size:large;
}